--- 


--- 
@import 'constants.css';

///style
a {
    text-decoration: none; 
    color: var(--cWhite);
}

.DefaultBody{
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

///structure

img,
embed,
object,
video {
    max-width: 100%;
}

.DefaultBody {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Header,
.Footer {
    flex: none;
}

.DefaultMain {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    padding: var(--space);
}

.DefaultContent {
    margin-top: var(--space);
    flex: 1;
    display: flex;
    flex-direction: column;
}

.DefaultLeft {
    order: -1;
}

@media (orientation:landscape) and (min-width: 768px) {
    .DefaultMain {
        flex-direction: row;
        flex: 1;
    }

    .DefaultContent {
        flex: 1;
        padding: 0;
        margin: 0;
    }

    .DefaultLeft,
    .DefaultRight {
        flex: 0 0 15vw;
    }
}