--- 


--- 
.Feed{
    font-family: myNormFont;
    font-weight: normal;
    font-size: 12px;
    color: var(--cWhite);
    background: black;


    .ArticleFeed{
        padding: 30px;
        border-radius: 10px;    
        background: var(--cDarkGrey);
    }

    article {
        color: var(--cGrey);

        .Title a {
            font-weight: bold;
            font-size: 20px;
            line-height: 30px;
            color: var(--cPaleYellow);
            transition: 0.2s filter;
            &:hover {
                filter: sepia();
            }
        }

        .Date{
            font-size: 10px;
            line-height: 30px;;
        }

        .Excerpt{
            font-size: 15px;
        }


        .Tag {
            $cPaleYellow: darken(desaturate(#{{site.cPaleYellow}}, 25%), 10%);

            display: inline;
            font-family: myTechFont;
            font-weight: normal;
            font-size: 10px;
            color: $cPaleYellow;
            transition: 0.2s color;
            &:hover {
                color: var(--cWhite);
            }
            border-radius: 3px;
            border: 1px solid $cPaleYellow;
            background-color: darken($cPaleYellow, 30%);
            opacity: 0.6;
        }
    }
    .TopBanner{
        height: 0px;
    }
    @media (orientation:landscape) and (min-width: 768px)  {
        .TopBanner{
            height: 100px;
        }
        
    }
}

nav, aside {
    background: black;
    border-radius: 0;
}

