--- 


--- 

@import 'constants.css';
@import 'header.css';
@import 'footer.css';
@import 'default.css';

.Feed{
    font-family: myNormFont;
    font-weight: normal;
    font-size: 12px;
    color: var(--cWhite);
    //background: var(--cDarkGrey);

    .ArticleFeed{
        display: flex;
        flex-direction: column-reverse;

        padding: 30px;
        border-radius: 10px;    
        $cDarkBrown: #{{site.cDarkBrown}};
        background-color: rgba($cDarkBrown, 0.8); 
    }

    article {
        color: var(--cGrey);
        padding-bottom: 30px;

        .Title {
            font-weight: bold;
            font-size: 20px;
            line-height: 25px;
            color: var(--cPaleYellow);
            transition: 0.2s filter;
            &:hover {
                filter: sepia();
            }
        }

        .Date{
            font-size: 10px;
            color: var(--cGrey);
            height: 20px;
        }

        .Excerpt{
            font-size: 15px;
        }


        .Tag {
            display: inline;
            font-family: myTechFont;
            font-weight: normal;
            font-size: 10px;
            color: var(--cDarkerYellow);
            transition: 0.2s color, 0.2s background-color, 0.2s border;
            &:hover {
                color: var(--cWhite);
                background-color: rgba(0,0,0,0);
                border: 0;
            }
            border-radius: 3px;
            border: 1px solid var(--cLightBrown);
            background-color: var(--cLightBrown);
            cursor: pointer;
            opacity: 0.7;
        }
    }
    .TopBanner{
        height: 0px;
    }
    @media (orientation:landscape) and (min-width: 768px)  {
        .TopBanner{
            height: 100px;
        }
        
    }
}

nav, aside {
    border-radius: 0;
}

.BackgroundImage {
    
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    max-width: 100%;
    height:auto;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(0.2rem);
    $cDarkGrey: #{{site.cDarkGrey}};
    background-image: linear-gradient(to bottom, rgba(30,87,153,0) 0%, rgba(30,87,153,0) 70%, rgba($cDarkGrey,1) 98%), url('../assets/img/forest.jpg'); //linear-gradient(to bottom, rgba(30,87,153,0) 0%, rgba(30,87,153,0) 70%, rgba($cDarkGrey,1) 98%);
    //background-blend-mode: add;
    /*@keyframes backgroundShift {
        
        0%   {filter: hue-rotate(0);}
        25%  {filter: hue-rotate(-50deg);}
        50%  {filter: hue-rotate(0deg);}
        75%  {filter: hue-rotate(50deg);}
        100% {filter: hue-rotate(0deg);}
    }*/
    //animation: backgroundShift 40s 1s infinite;
}

.DefaultBody{
    background:  var(--cDarkGrey);
}

