---

---
//@import 'default.css';

$cWhite: #{{site.cWhite}};
$cPaleYellow: #{{site.cPaleYellow}};
$cGrey: #{{site.cGrey}};
$cPaleRed: #{{site.cPaleRed}};
$cDarkGrey: #{{site.cDarkGrey}};

footer {
    //background-color: red;
}