---

---
@import 'main.css';

$cWhite: #{{site.cWhite}};
$cPaleYellow: #{{site.cPaleYellow}};
$cGrey: #{{site.cGrey}};
$cPaleRed: #{{site.cPaleRed}};
$cDarkGrey: #{{site.cDarkGrey}};

header {
    background-color: green;
    padding: 0;
    margin: 0;
    min-height: 50px;
    position: relative;
    font-family: myTechFont;
    color: $cWhite;
    font-weight: bold;


    a {
        Text-decoration: none;
        display: inline;
        font-size: 15px;
        text-transform: uppercase;
    }

    .home-button {
        position: absolute;
        bottom: 0;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        left: 10px;
        background-color: blue;
        text-align: center;
    }

    .main-menu {
        position: absolute;
        bottom: 0;
        right: 10px;

        display: inline-block;
        background-color: blue;
        height: auto;
    }

    .main-menu .menu-item {
        color: red;
        background-color: cyan;

        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}