---

---

header {
    //background-color: green;
    //height: 100px;
    font-family: myTechFont;
    color: var(--cWhite);
    font-weight: bold;
    //position: relative;

    a {
        display: inline;
        font-size: 15px;
        text-transform: uppercase;
    }

    .main-menu {
        //position: absolute;
        width: 100%;
        //bottom:0;
        display: flex;
        justify-content: space-between;

        //background-color: blue;
        height: 40px;

        .home-button {
            color: red;
            //background-color: cyan;

            justify-content: start;
            padding-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }

        .sub-menu{
            display: inline-flex;

            .item {
                //color: red;
                //background-color: cyan;
                justify-content: end;
                //align-content: flex-end;
                padding-top: 20px;
                padding-left: 20px;
                padding-right: 20px;
                flex-shrink: 0;
                
            }
        }

    }
}