--- 


--- 

@import 'main.css';

$cWhite: #{{site.cWhite}};
$cPaleYellow: #{{site.cPaleYellow}};
$cGrey: #{{site.cGrey}};
$cPaleRed: #{{site.cPaleRed}};
$cDarkGrey: #{{site.cDarkGrey}};

$BackgroundColor :$cDarkGrey;

.centerContainer {
    position: fixed;

    width: auto;
    height: auto;
    left: 35vw;
    right: 35vw;
    bottom: 15vh;
    top: 55vh;

    align-items: center;
    margin-right: auto;
    margin-top: auto;

    border-radius: 55px;

    background-color: rgba($cDarkGrey, 0.9);
    box-shadow: 0px 0px 30px 30px rgba($cDarkGrey, 0.9);

    text-align: center;
    color: $cWhite;
    font-family: myTechFont;
    font-size: 8px;
}

.centerContainer h1 {
    //cursor: pointer;
    font-size: 24px;
    color: $cPaleYellow;
    font-weight: normal;
}

.centerContainer h2 {
    //cursor: pointer;
    text-align: center;
    color: $cGrey;
    margin-left: 10px;
    font-size: 10px;
    font-weight: normal;
}

.centerContainer ul{
    text-align: left;
    font-size: 10px;
}


.iconButton{
    background-color: rgb(255,255,255);
    opacity: 0.4;
}

.backgroundCanvas {
    z-index: -1;
    background-color: linear-gradient(red, yellow);
}

footer {
    position: fixed;
    display: box;
    right: 0px;
    bottom: -10px;
    height: auto;

    text-transform: uppercase;
    font-family: myTechFont;
    font-size: 12px;
    text-align: right;
}