--- 


--- 

@import 'main.css';

$cWhite: #{{site.cWhite}};
$cPaleYellow: #{{site.cPaleYellow}};
$cGrey: #{{site.cGrey}};
$cPaleRed: #{{site.cPaleRed}};
$cDarkGrey: #{{site.cDarkGrey}};

$BackgroundColor :$cDarkGrey;

.centerContainer {
    position: fixed;

    width: auto;
    height: auto;
    left: 35vw;
    right: 35vw;
    bottom: 15vh;
    top: 55vh;

    align-items: center;
    margin-right: auto;
    margin-top: auto;

    background-color: rgba($cDarkGrey, 0.9);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);

    text-align: center;
    color: $cWhite;
    font-family: myTechFont;
    font-size: 8px;
}

.centerContainer h1 {
    cursor: pointer;
    font-size: 24px;
    color: red;
}

.centerContainer h2 {
    cursor: pointer;
    text-align: left;
    margin-left: 10px;
    font-size: 10px;
}

.backgroundCanvas {
    z-index: -1;
    background-color: linear-gradient(red, yellow);
}

footer {
    text-transform: uppercase;
    font-family: myTechFont;
    font-size: 12px;
    text-align: right;
    //height: {{site.footerSize}}px;
}