--- 


--- 

$cWhite: #{{site.cWhite}};
$cPaleYellow: #{{site.cPaleYellow}};
$cGrey: #{{site.cGrey}};
$cPaleRed: #{{site.cPaleRed}};
$cDarkGrey: #{{site.cDarkGrey}};

$BackgroundColor :$cDarkGrey;

@font-face {
    font-family: myTechFont;
    src: url('/assets/fonts/myFont.ttf');
}

@font-face {
    font-family: myNormFont;
    src: url('/assets/fonts/AvenirLTStd-Black.otf');
}

img, embed, object, video {
	max-width: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    background: $BackgroundColor;
}

footer {
    margin-top: auto;
}

*{
    color: $cGrey;
    Text-decoration: none;
}

.mainBody {
    flex-grow: 1;
    display: flex;
    padding: 0;
    margin: 0;
    background: blueviolet;
    align-items: flex-start;
}

.sidebar {
    flex-grow: 1;
    min-width: auto;
    background: green;
    height: 1px;
}

.main {
    align-self: flex-start;
    flex-grow: 0;
    max-width: 1000px;
    height: 10px;

    display: flex;
    flex-direction: column;
}
  

