--- 


--- 

$cWhite: #{{site.cWhite}};
$cPaleYellow: #{{site.cPaleYellow}};
$cGrey: #{{site.cGrey}};
$cPaleRed: #{{site.cPaleRed}};
$cDarkGrey: #{{site.cDarkGrey}};

$BackgroundColor :$cDarkGrey;

@font-face {
    font-family: myTechFont;
    src: url('/assets/fonts/myFont.ttf');
}

@font-face {
    font-family: myNormFont;
    src: url('/assets/fonts/fontawesome-webfont.ttf');
}

img, embed, object, video {
	max-width: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: $BackgroundColor;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

////////////////////


footer {
    //position: fixed;
    //display: box;
    right: 0px;
    bottom: 0px;

    text-transform: uppercase;
    font-family: myTechFont;
    font-size: 12px;
    text-align: right;
}
