<script defer language="javascript" >
    window.onload = function() {
    }

    var imgs = document.getElementsByTagName('img');
    console.log(imgs);
    len = imgs.length;
    counter = 0;
    console.log(len);
    [].forEach.call( imgs, function( img ) {
        
    if(img.complete){
      incrementCounter();
    }else{
      img.addEventListener( 'load', incrementCounter, false );
    } 
    });

    function incrementCounter() {
        counter++;
        if ( counter === len) {
            var elem = document.getElementById('loadingScreen');
            if(elem){
                elem.parentNode.removeChild(elem); 
            }
        }
    }
    </script>
