<script src="{{ '/assets/scripts/three.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/scripts/GLTFLoader.js' | prepend: site.baseurl }}"></script>

<script src="{{ '/assets/scripts/KrConstants.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/scripts/KrPhysics.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/scripts/KrTarget.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/scripts/KrPoint.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/scripts/KrLine.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/scripts/KrPolygon.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/scripts/KrModel.js' | prepend: site.baseurl }}"></script>

<script src="{{ '/assets/scripts/scene.js' | prepend: site.baseurl }}"></script>
