<script src="{{ '/assets/scripts/three.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/scripts/threeoctree.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/scripts/STLloader.js' | prepend: site.baseurl }}"></script>

<script src="{{ '/assets/scripts/particle.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/scripts/model.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/scripts/scene.js' | prepend: site.baseurl }}"></script>
