--- 


--- 
@import 'constants.css';

a {
    text-decoration: none; 
}
:root{
    background-color: var(--cWhite);
}

.centerContainer {
    position: fixed;

    width: auto;
    min-width: 300px;
    height: auto;
    
    left: 50%;
    margin-left: -150px;

    max-width: 400px;
    bottom: 15vh;
    top: 55vh;

    align-items: center;
    margin-right: auto;
    margin-top: auto;


    background-color: var(--cWhite);
    box-shadow: 0px 0px 30px 30px  var(--cWhite);

    text-align: center;
    color: var(--cDarkGrey);
    font-family: myTechFont;
    font-size: 8px;
}

.centerContainer h1 {
    font-size: 24px;
    font-weight: normal;
    line-height: 0.3;
}

.centerContainer h2 {
    text-align: center;
    margin-left: 10px;
    font-size: 10px;
    font-weight: normal;
}

.centerContainer ul{
    display: block;
    text-align: left;
    font-size: 15px;
    line-height: 2.0;
    list-style-type: none;
    padding: 0;
}

.centerContainer li{
    text-align: left;
    background-color: var(--cWhiteS);
    border-radius: 5px;
    margin: 0 0 3px 0;
    transition: 0.2s filter;
    &:hover {
        filter: sepia();
    }
}

iconButton img {
    height: 30px;
    width: 30px;
    filter: invert(0.3);
    vertical-align: middle;
}

#backgroundCanvas {
    z-index: -1;
    filter: invert(1);
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px var(--cGreyS);
  }
  80% {
    box-shadow: 0 0 0 2px  var(--cDarkGreyS);
  }
}

.indexButton{
    display: block;
    text-align: center;
    font-size: 15px;
    line-height: 2.0;
    list-style-type: none;
    padding: 0;
    margin: auto;
    border-radius: 5px;
    width: 50px;
    
    font-family: myTechFont;
    color: var(--cDarkYellow);
    background-color: var(--cDarkYellowS);
    
    text-transform: uppercase;
    text-align: center;
    
    animation: shadow-pulse 3s infinite;
    
    transition: 0.2s filter;
    &:hover {
        filter: sepia();
    }
}

footer {
    position: fixed;
    right: 0px;
    bottom: 12px;
    height: 12px;
    color: red;

    text-transform: uppercase;
    font-family: myTechFont;
    font-size: 12px;
    text-align: right;
    transition: 0.2s filter;
    &:hover {
        filter: sepia();
    }
}