--- 


--- 

@import 'constants.css';
@import 'header.css';
@import 'footer.css';
@import 'default.css';

.Feed{
    font-family: myNormFont;
    font-weight: normal;
    font-size: 12px;
    color: var(--cWhite);

    .ArticleFeed{
        display: flex;
        flex-direction: column-reverse;
        transition: 0.2s color, 0.2s background-color;

        padding: 30px;
        border-radius: 0px;
        @media (orientation:landscape) and (min-width: 768px) {
            border-radius: 2px;
            $cDarkBrown: #{{site.cDarkBrown}};
            background-color: rgba($cDarkBrown, 0.8); 
        }
        
        
        
    }

    .ArticleFeed:last-child {
        padding-bottom: 0px;
    }

    article {
        color: var(--cGrey);
        padding-bottom: 20px;

        .Title {
            font-weight: bold;
            font-size: 20px;
            line-height: 25px;
            color: var(--cPaleYellow);
            transition: 0.2s filter;
            &:hover {
                filter: sepia();
            }
        }

        .Date{
            font-family: myTechFont;
            font-size: 10px;
            color: var(--cGrey);
            height: 20px;
        }

        .Excerpt{
            margin-top: 10px;
            font-size: 15px;
            line-height: 1.2;
            text-indent: 0px;
        }


        .Tag {
            font-family: myTechFont;
            font-weight: normal;
            font-size: 10px;
            height: 15px;
            color: var(--cDarkerYellow);
            transition: 0.2s color, 0.2s background-color;
            border: 0px;
            &:hover {
                color: var(--cWhite);
                background-color: rgba(0,0,0,0);
                opacity:1.0;
            }
            $cLightBrown: #{{site.cLightBrown}};
            background-color: rgba($cLightBrown, 0.2);
            cursor: pointer;
            opacity: 0.7;
        }
    }
    .TopBanner{
        height: 0px;
        padding: 0px;
        margin: 0px;
    }
    @media (orientation:landscape) and (min-width: 768px)  {
        .TopBanner{
            height: 100px;
        }
        
    }
}

nav, aside {
    border-radius: 0;
}

.BackgroundImage {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    

    $cDarkBrown: #{{site.cDarkBrown}};
    
    background-size: cover;
    background-image: url('/assets/img/forest.jpg'), linear-gradient(rgba($cDarkBrown, 0.8),rgba($cDarkBrown, 0.8));
    background-blend-mode: overlay;
    background-position: center;
    filter: blur(0.01rem);
    

    
    @media (orientation:landscape) and (min-width: 768px) {
        background-image: url('/assets/img/forest.jpg');
    }
}

.DefaultBody{
    background:  var(--cDarkGrey);
}

