---

---
@import 'constants.css';

footer {
    display:flex;
    flex-direction: column-reverse;
    height: 40px;
    $cDarkBrown: #{{site.cDarkBrown}};
    background: linear-gradient(to top,  rgba($cDarkBrown, 1) 0%, rgba($cDarkBrown, .7) 35%,  rgba($cDarkBrown, 0) 100%);
    
    p {
        text-align: right;
        padding-top: 30px;
        margin:0px;
        
        a{
            color: var(--cPaleYellow);
            
            text-transform: uppercase;
            font-family: myTechFont;
            font-size: 12px;
            text-align: right;
            transition: 0.2s filter;
            &:hover {
                filter: sepia();
            }
            line-height: 0;
            text-indent: 0px;
        }
    }

    
}