---

---

header {
    font-family: myTechFont;
    color: var(--cDarkGrey);
    font-weight: bold;
    $cDarkBrown: #{{site.cDarkBrown}};
    @media (orientation:landscape) and (min-width: 768px) {
        background-color: rgba(0,0,0,0);
    }

    a {
        display: inline;
        font-size: 20px;
        @media (orientation:landscape) and (min-width: 768px) {
            font-size: 15px;
        }
        text-transform: uppercase;
    }

    .main-menu {
        @media (orientation:landscape) and (min-width: 768px) {
            padding: 30px;
        }

        display: flex;
        justify-content: space-between;

        .home-button {
            $cDarkBrown: #{{site.cDarkBrown}};
            background-color: rgba(0,0,0,0);
            @media (orientation:landscape) and (min-width: 768px) {
                background-color: rgba($cDarkBrown,0.8);
            }

            color: var(--cDarkerYellow);
            transition: 0.2s color, 0.2s background-color;
            &:hover {
                color: var(--cWhite);
                background-color: rgba($cDarkBrown,1);
            }
            justify-content: end;

            padding-top: 20px;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 20px;

            @media (orientation:landscape) and (min-width: 768px) {
                padding-top: 10px;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 10px;
            }

            flex-shrink: 0;
        }

        .sub-menu{
            display: inline-flex;

            .item {
                color: var(--cDarkerYellow);
                $cDarkBrown: #{{site.cDarkBrown}};
                background-color: rgba(0,0,0,0);
                @media (orientation:landscape) and (min-width: 768px) {
                    background-color: rgba($cDarkBrown,0.8);
                }
                transition: 0.2s color, 0.2s background-color;
                &:hover {
                    color: var(--cWhite);
                    background-color: rgba($cDarkBrown,1);
                }
                justify-content: end;

                padding-top: 20px;
                padding-left: 40px;
                padding-right: 40px;
                padding-bottom: 20px;
    
                @media (orientation:landscape) and (min-width: 768px) {
                    padding-top: 10px;
                    padding-left: 20px;
                    padding-right: 20px;
                    padding-bottom: 10px;
                }

                flex-shrink: 0;
                
            }
        }

    }
}
