---

---

header {
    font-family: myTechFont;
    color: var(--cDarkGrey);
    font-weight: bold;

    a {
        display: inline;
        font-size: 15px;
        text-transform: uppercase;
    }

    .main-menu {
        @media (orientation:landscape) and (min-width: 768px) {
            padding: 30px;
        }

        display: flex;
        justify-content: space-between;

        .home-button {
            color: var(--cDarkerYellow);
            $cDarkBrown: #{{site.cDarkBrown}};
            background-color: rgba($cDarkBrown,0.8);
            transition: 0.2s color, 0.2s background-color;
            &:hover {
                color: var(--cWhite);
                background-color: rgba($cDarkBrown,1);
            }
            justify-content: end;
            padding-top: 10px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 10px;

            flex-shrink: 0;
        }

        .sub-menu{
            display: inline-flex;

            .item {
                color: var(--cDarkerYellow);
                $cDarkBrown: #{{site.cDarkBrown}};
                background-color: rgba($cDarkBrown,0.8);
                transition: 0.2s color, 0.2s background-color;
                &:hover {
                    color: var(--cWhite);
                    background-color: rgba($cDarkBrown,1);
                }
                justify-content: end;
                //align-content: flex-end;
                padding-top: 10px;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 10px;

                flex-shrink: 0;
                
            }
        }

    }
}
