--- 

--- 
#Body{
    
}

#Header{
    background-color:khaki;
    min-height: 300px;
}
#Main{
    background-color:rebeccapurple;
}
#Content{
    background-color:red;
}
#Left{
    background-color:indigo;
}
#Right{
    background-color: bisque;
}
#Footer{
    background-color: turquoise;
}

@media only screen and (max-device-width : 640px) {
    #Header{
        background-color:khaki;
        min-height: 150px;
}