--- 

--- 
#Body{
}

#Main{
    background-color: var(--white);
}
#Content{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding:20px;
}

.article{
    margin: 5px;
}

.articleTitle{
    font-size: 20px;
    color: var(--primary2);
    font-weight: bold;
    &:visited {
        color: var(--primary4);
    }
}
.articleDate{
    color: var(--grey3);
    font-size: 15px;
    font-style: oblique;
}
.articleText{
    padding-top: 10px;

    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    font-size: 18px;
    text-align: justify;
    text-justify: inter-character;
}

#Left{

}
#Right{

}
#Footer{

}

/* portrait sorta */
@media (max-width: 768px) {

  }

/* cellphone */
@media only screen and (max-device-width : 640px) {
    .articleTitle{
        font-size: 40px;
    }
    .articleDate{
        font-size: 30px;
    }
    .articleText{
        font-size: 36px;
    }
}