--- 

--- 
body{
    min-height: 100vh;
    padding: 0;
    margin: 0;
}
#Loading{
    visibility: hidden;
}
#Body{
    height: 100vh;
}
#Body,
#Main {
	display: flex;
	flex: 1 1 auto;
    flex-direction: column;
}

#Content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: flex-start;
}

#Left {
	order: -1;
}

/**
 * Smaller screens/windows
 */

@media (min-width: 768px) {
	/**
	 * Body items are now side by side
	 */
	#Main {
		flex-direction: row;
    }
    
    #Content{
        width: 500px;
    }

	/**
	 * Sidebars have a basic 150 width
	 * and are not really flexible anymore
	 */
	#Left, #Right  {
        flex: 0.5 0 auto;
	}
}

/* Probably mobile only */
@media only screen and (max-device-width : 640px) {
}