---
layout: basic
---
<style>
    html,
    body {
        overflow: hidden;
        position: relative;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .aboutBar {

        height: 0vh;
        width: 100vw;
        background-color: black;
        z-index: 1000;
        position: fixed;
    }

    #aboutBarTop {
        top: 0;
    }

    #aboutBarBottom {
        bottom: 0;
    }

    #aboutCanvas {
        height: 80vh;
        position: fixed;
        z-index: 2;
        color: black;
    }

    #mainMenu {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 55%;
        left: 50%;
        width: 90vw;
    }

    .text {
        text-transform: uppercase;
        user-select: none;
        text-align: center;
        overflow: hidden;
        font-family: myTechFont;
        color:rgb(238, 219, 180);

    }

    #mainTitle {
        opacity: 0.0;
        animation: fadeNScale;
        animation-duration: 5s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
        font-size: 70px;
        letter-spacing: 3px;
    }

    #subTitle {
        opacity: 0.0;
        animation: fadeNScale;
        animation-duration: 4s;
        animation-delay: 2.5s;
        animation-fill-mode: forwards;
    }

    @keyframes fadeNScale {
        from {
            opacity: 0;
            transform: scale(1.1, 1.1);
        }

        to {
            opacity: 1;
            transform: scale(1, 1);
        }
    }



    #FooterMain {
        position: absolute;
        bottom: 0px;
        right: 5px;
        font-family: myTechFont;
        max-height: 20px;
        min-height: 20px;
        font-size: 15px;
        text-align: right;
    }

    a {
        text-decoration: none;
        color: rgb(238, 219, 180);
    }

    #ContactList {
        font-size: 0px;

        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        align-items: center;
        width: 200px;
        padding-top: 10px;
    }

    #ContactList img {
        width: 30px !important;
        height: 30px !important;
        filter: brightness(0) invert(0.9);

        transition: transform 0.4s ease;
    }
</style>
{% include loader.html %}
<div class='aboutBar' id='aboutBarTop'></div>
<div class='mainMenu' id='mainMenu'>
    <div class='text' id='mainTitle'>Pedro Pimentel</div>
    <div class='text' id='subTitle'>Engineer . Creator . Shenaniganizer</div>
    <div class='text' id='ContactList'></div>
</div>
<canvas id='aboutCanvas'></canvas>
<div class='aboutBar' id='aboutBarBottom'></div>
<div id='Footer'>{% include footer.html %}</div>