---
mainTitle: Pedro Pimentel
tagline: Computer Engineer
description: asd

---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.description }}">  
    <link rel="icon" type="img/ico" href="assets/img/myico.ico">
    <link rel="stylesheet" href="css/home.css">
  </head>

  <body>
    <canvas id="backgroundCanvas"></canvas>
    <div class="centerContainer">
      <h1>{{layout.mainTitle}}</h1>
      <h2>{{layout.tagline}}</h2>
      <ul>
        <li><iconButton><img src="assets/img/email.svg"/> {{site.emailhandle}}</iconButton></li>
        <li><iconButton><img src="assets/img/gthubi.svg"/> {{site.githubhandle}}</iconButton></li>
        <li><iconButton><img src="assets/img/linkedin.svg"/> {{site.linkedinhandle}}</iconButton></li>
        <li><iconButton><img src="assets/img/instagram.svg"/> {{site.instagramhandle}}</iconButton></li>
      </ul> 
    
    
    </div>

    {% include footer.html %}
    {% include scripts.html %}
  </body>

</html>